/*m-form-sign*/
	.m-form-sign{}
	.m-form-sign .textinput{
		border-bottom:1px solid #d7d7d7;
		-webkit-border-radius:5px;
		margin-top: 15px;
		position: relative;
	}

	.m-form-sign .textinput:first-child{
		margin-top: 0;
	}

	.m-form-sign .textinput input{
		height: 44px;
		display: block;
		font-size: 15px;
		color: #171717;
		border: 0;
		width: 100%;
		-webkit-border-radius:5px;
		-webkit-box-sizing:border-box;
		padding-left: 44px;
	}

	.m-form-sign .textinput i{
		height: 24px;
		width: 24px;
		position: absolute;
		left: 10px;
		top: 10px;
		-webkit-background-size:100% 100%;
	}

	.m-form-sign .textinput-user i{
		background-image: url(../images/i-user.png);
	}

	.m-form-sign .textinput-passw i,
	.m-form-sign .textinput-captcha i{
		background-image: url(../images/i-lock.png);
	}

	.m-form-sign .textinput-captcha{
		padding-right: 115px;
	}

	.m-form-sign .textinput-captcha .c-btn-success{
		font-size: 15px;
		position: absolute;
		top: 0;
		right: 0;
		width: 105px;
	}

	.m-form-sign .c-btn-primary,
	.m-form-sign .c-btn-link{
		margin-top: 30px;
	}

	.m-form-sign .c-btn-link{
		font-size: 15px;
	}

/*m-profile*/
	.m-profile{
		position: relative;
		background-color: #f8f8f8;
		padding: 20px 20px 20px 85px;
	}
	.m-profile .heading{
		color: #4997da;
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
	}
	.m-profile .level{
		color: #959595;
		font-size: 12px;
		line-height: 14px;
	}

	.m-profile .thumbnail{
		position: absolute;
		left: 20px;
		top: 20px;
	}

	.m-profile .arrow{
		color: #4997da;
		font-size: 30px;
		line-height: 44px;
		height: 44px;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -22px;
		font-family: "sans-serif";
		font-weight: bold;
	}

/*m-table */
	.m-table{
		font-size: 12px;
		line-height: 44px;
		width: 100%;
	}

	.m-table th{
		color: #358ccf;
		background-color: #f8f8f8;
		border-bottom: 1px solid #ececec;
		text-align: center;
	}

	.m-table th:first-child,
	.m-table td:first-child{
		text-align: left;
		padding-left: 20px;
	}

	.m-table th:last-child,
	.m-table td:last-child{
		text-align: right;
		padding-right: 20px;
	}

	.m-table td{
		color: #666;
		border-bottom: 1px solid #ececec;
		text-align: center;
	}

	.m-table td a{
		color: #358ccf;
	}

/*m-listview*/
	.m-listview{
	}

	.m-listview .header{
		background-color: #f8f8f8;
		height: 44px;
		line-height: 44px;
		position: relative;
	}

	.m-listview .header .heading{
		color: #959595;
		font-weight: normal;
		margin-left: 20px;
	}

	.m-listview .header .heading i{
		float: left;
		height: 24px;
		width: 24px;
		background:url(../images/i-date.png) no-repeat;
		-webkit-background-size:contain;
		margin-top: 10px;
		margin-right: 10px;
	}

	.m-listview .header .action{
		position: absolute;
		right: 20px;
		top: 0;
	}

	.m-listview .header .action a{
		margin-left: 10px;
	}

	.m-listview .list{
		border-top: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
	}

	.m-listview .list-nobt{
		border-top: 0;
	}

	.m-listview .item{
		margin: 0 10px;
		padding: 0 10px;
	}

	.m-listview .item:last-child .label,
	.m-listview .item:last-child .field{
		border-bottom: 0;
	}

	.m-listview .label,
	.m-listview .field{
		border-bottom: 1px solid #ececec;
		overflow: hidden;
		height: 44px;
		line-height: 44px;
	}

	.m-listview .label{
		width: 75px;
		float: left;
		color: #358ccf;
		overflow: hidden;
	}

	.m-listview .field{
		color: #646464;
		margin-left: 75px;
	}

/*m-listview-form*/
	.m-listview-form{

	}

	.m-listview-form .item{
		position: relative;
	}

	.m-listview-form .label.auto{
	  position: absolute;
	  bottom: 0;
	  top: 0;
	  height: auto;
	}

	.m-listview-form .field{
		position: relative;
	}

	.m-listview-form .field input,
	.m-listview-form .field select{
		height: 24px;
		border:1px solid #ececec;
		-webkit-border-radius:5px;
		-webkit-box-sizing:border-box;
		display: block;
		margin-top: 10px;
		width: 100%;
		padding-left: 5px;
		color: #646464;
	}

	.m-listview-form .field input[type=checkbox]{
		width: auto;
	}

	.m-listview-form .field .unit{
		position: absolute;
		right: 10px;
		color: #4293d2;
		top: 0;
	}

	.m-listview-form > .action{
		margin: 15px 20px;
	}

/*m-nodata*/
	.m-nodata .c-btn-primary{
		margin: 0 20px;
	}

/*m-gridmenu*/
	.m-gridmenu{
		border-top: 1px solid #ddd;
		overflow: hidden;
	}
	.m-gridmenu a{
		float: left;
		width: 33.33%;
		height: 0;
		padding-bottom: 33.33%;
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		-webkit-box-sizing:border-box;
	}

	.m-gridmenu a:nth-child(3n){
		border-right: 0;
	}

	.m-gridmenu a span{
		position: absolute;
		width: 100%;
		text-align: center;
		color: #a5a5a5;
		top: 50%;
		margin-top: 15px;
		font-size: 14px;
		line-height: 1em;
	}

	.m-gridmenu a:before{
		display: block;
		content: "";
		height: 36px;
		width: 36px;
		-webkit-background-size:contain;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		left: 50%;
		margin-left: -18px;
		top: 50%;
		margin-top: -31px;

	}

	.m-gridmenu .process:before{
		background-image: url(../images/i-process.png);
	}

	.m-gridmenu .chart:before{
		background-image: url(../images/i-chart.png);
	}

	.m-gridmenu .mail:before{
		background-image: url(../images/i-mail.png);
	}

	.m-gridmenu .stock:before{
		background-image: url(../images/i-stock.png);
	}

	.m-gridmenu .sell:before{
		background-image: url(../images/i-sell.png);
	}

	.m-gridmenu .feedback:before{
		background-image: url(../images/i-feedback.png);
	}

	.m-gridmenu .car:before{
		background-image: url(../images/i-car.png);
	}

/*m-notice*/
	.m-notice{
		background-color: #fffccf;
		height: 32px;
		line-height: 32px;
		overflow: hidden;
		padding: 0 10px;
		border-top: 1px solid #ddd;
	}

	.m-notice:before{
		content: "";
		float: left;
		width: 16px;
		height: 16px;
		-webkit-background-size:contain;
		background-image: url(../images/i-notice.png);
		margin-top: 8px;
		margin-right: 10px;
	}
	.m-notice ul{
	}
	.m-notice li{
		font-size: 12px;
		color: #e34f4c;
	}


