<!DOCTYPE HTML>
<html>
<head>
    <title>车行——销售情况</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="email=no,telephone=no" name="format-detection" />
    <link href="css/frame.css" rel="stylesheet"/>
    <link href="css/component.css" rel="stylesheet"/>
    <link href="css/module.css" rel="stylesheet"/>
    <link href="css/page.css" rel="stylesheet"/>
</head>

<body>
    <div class="f-page p-sold-search">
        <header class="f-header">
            <h1 class="heading">销售情况</h1>
            <a class="btn-left" href="sold.html">销售情况</a>
        </header>

        <form class="c-search" id="j-searchForm">
            <input name="key" type="search" placeholder="请输入客户电话搜索">
            <button type="submit"></button>
        </form>
        <section>
            <div class="m-nodata" style="display:none;" id="j-nodata">
                <div class="c-loader done">
                    <p>没有找到相关的客户记录</p>
                </div>

                <a class="c-btn-primary" href="customer.html" id="j-addBtn">新建客户信息</a>
            </div>

            <div class="table-sold" style="display:none;" id="j-search">
                <table class="m-table">
                    <thead>
                        <tr>
                            <th width="18%">姓名</th>
                            <th width="18%">进店次数</th>
                            <th width="18%">完成情况</th>
                            <th width="46%">最近进店时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="c-loader" id="j-loadmore"></div>

        </section>
        <script type="text/tmpl" id="j-searchTmpl">
            <% for (var i = 0; i < list.length; i++){ %>
                <% var item = list[i] %>
                <tr>
                    <td><a href="customer.html?customerId=<%= item.customer.customerId %>&from=<%= Car.SoldSearch.key %>"><%= item.customer.name %></a></td>
                    <td><%= item.visitCount %>次</td>
                    <td><span class="c-text-<%= item.isDone ? 'success' : 'warning'%>"><%= item.isDone ? '已' : '未'%>完成</span></td>
                    <td><%= item.visitTime %></td>
                </tr>
            <% } %>
        </script>
    </div>

    <script type="text/javascript" src="js/lib/zepto.custom.js"></script>
    <script type="text/javascript" src="js/lib/fastclick.js"></script>
    <script type="text/javascript" src="js/lib/hammer.js"></script>
    <script type="text/javascript" src="js/lib/baiduTemplate.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/soldSearch.js"></script>
    <script type="text/javascript">
        $(function(){
            Car.SoldSearch.init();
        })
    </script>
</body>
</html>